/*
 * webdirect | auth.css
 * https://www.webdirect.ro/
 * Copyright 2023 Pruna Catalin Costin
 * Email : office@webdirect.ro
 * Type  : CSS
 * Created on : 5/13/2023 4:44 PM
*/

.nav-link {
    color: #000;
}
.nav {
    padding: 0;
}
.sn_form .form-group .form-control {
    height: 60px;
}
